USE [master]
GO
/****** Object:  Database [quanlythiduakhenthuong]    Script Date: 12/12/2023 09:49:34 ******/
CREATE DATABASE [quanlythiduakhenthuong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlythiduakhenthuong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlythiduakhenthuong.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlythiduakhenthuong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlythiduakhenthuong_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlythiduakhenthuong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlythiduakhenthuong]
GO
/****** Object:  Table [dbo].[qltdkt_baocaothidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_baocaothidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idThiDua] [int] NOT NULL,
	[tenBaoCao] [nvarchar](200) NULL,
	[noiDungBaoCao] [ntext] NULL,
	[dsCaNhanTTBaoCao] [nvarchar](max) NULL,
	[fileDinhKem] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_BaoCaoThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_baocaothongke]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_baocaothongke](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenBaoCao] [nvarchar](500) NULL,
	[moTa] [nvarchar](500) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_dm_BaoCaoThongKe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dangkythidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_dangkythidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thiDuaId] [int] NOT NULL,
	[donViDangKyId] [int] NOT NULL,
	[noiDungDangKy] [ntext] NULL,
	[daBaoCao] [bit] NULL,
	[caNhanDangKy_KetQua] [nvarchar](max) NULL,
	[ngayDangKy] [datetime] NOT NULL,
	[fileDinhKem] [varchar](500) NULL,
	[soHieu] [nvarchar](50) NULL,
	[ngayKetQua] [datetime] NULL,
	[ngayTao] [datetime] NULL,
	[trangThaiThiDua] [tinyint] NULL,
	[xepHangThiDua] [tinyint] NULL,
	[ngayCapNhat] [datetime] NULL,
	[nhanXetChung] [ntext] NULL,
	[nguoiKyDanhGia] [ntext] NULL,
	[noiDungDanhGia] [ntext] NULL,
	[fileBaoCao] [varchar](1000) NULL,
	[daXoa] [bit] NULL,
	[isCaNhanDangKy] [bit] NULL,
 CONSTRAINT [PK_tdkt_DangKyThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_danhhieu]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_danhhieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTenDanhHieu] [tinyint] NULL,
	[soHieu] [varchar](50) NULL,
	[ngayDanhHieu] [datetime] NULL,
	[capKyKhenThuong] [nvarchar](250) NULL,
	[noiDung] [nvarchar](350) NULL,
	[danhSachCaNhanTapThe] [nvarchar](max) NULL,
	[tienThuong] [smallmoney] NULL,
	[fileGoc] [varchar](250) NULL,
	[hinhThucTraoTang] [tinyint] NULL,
	[daTraoTang] [bit] NULL,
	[ngayTraoTang] [datetime] NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
	[kieuDanhHieu] [tinyint] NULL,
	[namDanhHieu] [int] NULL,
	[hinhAnhTraoTang] [nvarchar](max) NULL,
	[tuNam] [nvarchar](50) NULL,
	[denNam] [nvarchar](50) NULL,
	[nguoiKy] [nvarchar](max) NULL,
	[bophan] [int] NULL,
	[ghiChuTT] [nvarchar](max) NULL,
 CONSTRAINT [PK_qltdkt_danhhieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_dm_capkykhenthuong]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_capkykhenthuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenCapKyKhenThuong] [nvarchar](250) NULL,
	[moTa] [nvarchar](250) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_dm_CapKyKhenThuong_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_chucvu]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_chucvu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenChucVu] [nvarchar](50) NULL,
	[moTa] [nvarchar](150) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_tdkt_dm_ChucVu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_chuky]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_chuky](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenChuKy] [nvarchar](250) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_dm_Chuky] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_danhhieuthidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_danhhieuthidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loaiDanhHieu] [tinyint] NULL,
	[tenDanhHieuThiDua] [nvarchar](150) NOT NULL,
	[luuSoKyYeu] [bit] NULL,
	[moTa] [nvarchar](150) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
	[idThanhTich] [int] NULL,
	[chuKy] [int] NULL,
	[capThanhTich] [int] NULL,
	[chuKyDH] [nvarchar](max) NULL,
	[capKyThanhTich] [nvarchar](max) NULL,
	[bophan] [int] NULL,
 CONSTRAINT [PK_tdkt_dm_DanhHieuThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_donvi]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_dm_donvi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDonVi] [nvarchar](150) NULL,
	[idCha] [int] NOT NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[anh] [varchar](350) NULL,
 CONSTRAINT [PK_tdkt_dm_DonVi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_dm_donviphatdong]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_donviphatdong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenPhatDong] [nvarchar](150) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[isCamKet] [tinyint] NULL,
 CONSTRAINT [PK_tdkt_dm_PhatDong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_hinhthuckhenthuong]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_hinhthuckhenthuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenHinhThucKhenThuong] [nvarchar](50) NULL,
	[moTa] [nvarchar](50) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
	[loaiKhenThuong] [tinyint] NULL,
	[chuKy] [int] NULL,
	[maThanhTich] [nchar](10) NULL,
	[capThanhTich] [int] NULL,
	[chuKyKT] [nvarchar](max) NULL,
	[capKyThanhTich] [nvarchar](max) NULL,
	[bophan] [int] NULL,
 CONSTRAINT [PK_tdkt_dm_HinhThucKhenThuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_nhanvien]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_dm_nhanvien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNhanVien] [varchar](10) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[chucVuId] [int] NOT NULL,
	[donViId] [int] NOT NULL,
	[soDienThoai] [varchar](100) NOT NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[daXoa] [bit] NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[anhDaiDien] [varchar](350) NULL,
	[trangThai] [tinyint] NULL,
	[trinhDoHocVan] [nvarchar](max) NULL,
 CONSTRAINT [PK_qltdkt_dm_nhanvien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_dm_role]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](150) NOT NULL,
	[roleUrl] [nvarchar](500) NULL,
	[roleParent] [int] NULL,
	[priority] [int] NULL,
	[controller] [nvarchar](50) NULL,
	[action] [nvarchar](50) NULL,
	[class] [nvarchar](50) NULL,
	[styles] [nvarchar](50) NULL,
 CONSTRAINT [PK_tdkt_Quyen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_sangkien]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_sangkien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenSangKien] [nvarchar](250) NULL,
	[noiDungSangKien] [nvarchar](max) NULL,
	[ngayTao] [date] NULL,
	[ngayCapNhat] [date] NULL,
	[daXoa] [int] NULL,
 CONSTRAINT [PK_qltdkt_sangkien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_thidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_thidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenThiDua] [nvarchar](50) NULL,
	[moTa] [nvarchar](500) NULL,
	[ngayTao] [datetime] NULL,
	[kieuThiDua] [int] NULL,
 CONSTRAINT [PK_tdkt_dm_ThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_trinhdohocvan]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_trinhdohocvan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenTrinhDoHocVan] [nvarchar](max) NULL,
	[chuyenNganh] [nvarchar](max) NULL,
 CONSTRAINT [PK_qltdkt_dm_trinhdohocvan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_dm_vanbanhd]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_dm_vanbanhd](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenVB] [nvarchar](500) NULL,
	[fileVB] [nvarchar](500) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[daXoa] [bit] NULL,
	[loaiVanBan] [tinyint] NULL,
 CONSTRAINT [PK_qltdkt_dm_vanbanhd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_groupuser]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_groupuser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenNhom] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](500) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[daXoa] [nchar](10) NULL,
 CONSTRAINT [PK_tdkt_GroupUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_groupuserbyroles]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_groupuserbyroles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupUserId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
 CONSTRAINT [PK_tdkt_GroupUser2Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_hosokyyeu]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_hosokyyeu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDonVi] [int] NOT NULL,
	[idNhanVien] [int] NULL,
	[anhDaiDien] [nvarchar](500) NULL,
	[hoSoKyYeu] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
	[chucNangNhiemVu] [nvarchar](300) NULL,
	[soQDThanhLap] [nvarchar](100) NULL,
	[daXoa] [tinyint] NULL,
	[idDanhHieu] [int] NULL,
 CONSTRAINT [PK_qltdkt_hosokyyeu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_hosothidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_hosothidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thiDuaId] [int] NULL,
	[kieuThiDua] [tinyint] NULL,
	[chiTietKieu] [nvarchar](150) NULL,
	[toTrinh] [varchar](250) NOT NULL,
	[bienBanHopHoiDong] [varchar](250) NULL,
	[sangKien] [nvarchar](max) NULL,
	[trangThai] [tinyint] NULL,
	[vanBanHuongDan] [nvarchar](500) NULL,
	[xacNhanThue] [nvarchar](500) NULL,
	[ngayTao] [datetime] NULL,
	[daXoa] [bit] NULL,
	[fileDinhKem] [nvarchar](max) NULL,
	[fileBaoCaoThanhTich] [nvarchar](max) NULL,
	[chiTietBaoCaoThanhTich] [nvarchar](max) NULL,
	[tenHoSoThiDua] [nvarchar](500) NULL,
	[ngayPhatDong] [datetime] NULL,
	[tenThiDua] [nvarchar](500) NULL,
	[soHieu] [nvarchar](500) NULL,
 CONSTRAINT [PK_tdkt_HoSoThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_ketquathidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_ketquathidua](
	[id] [int] NOT NULL,
	[thiDuaId] [int] NOT NULL,
	[dangKyThiDuaId] [int] NOT NULL,
	[nhanXetChung] [nvarchar](500) NULL,
	[nguoiKyDanhGia] [nvarchar](500) NULL,
	[noiDungDanhGia] [nvarchar](500) NULL,
	[fileBaoCao] [varchar](1000) NULL,
 CONSTRAINT [PK_tdkt_KetQuaThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_khenthuong]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_khenthuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[capKhenThuong] [tinyint] NULL,
	[quyetDinh] [varchar](350) NULL,
	[soHieu] [varchar](50) NOT NULL,
	[ngayKhenThuong] [datetime] NOT NULL,
	[kieuKhenThuong] [tinyint] NOT NULL,
	[moTaKieu] [nvarchar](50) NULL,
	[capKyKhenThuong] [nvarchar](50) NULL,
	[noiDungKhenThuong] [nvarchar](250) NULL,
	[danhSachCaNhanKhenThuong] [nvarchar](max) NULL,
	[tongTien] [varchar](50) NULL,
	[daTraoTang] [bit] NULL,
	[ngayTraoTang] [datetime] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[trangThai] [tinyint] NULL,
	[daXoa] [bit] NULL,
	[doiTuongThamGia] [tinyint] NULL,
	[tienThuong] [decimal](18, 0) NULL,
	[hinhThucKhenThuong] [int] NULL,
	[tongTienThuong] [int] NULL,
	[ghichuHTKT] [nvarchar](500) NULL,
	[bophan] [int] NULL,
 CONSTRAINT [PK__tdkt_Khe__3213E83F5F8D3E90] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_sangkien]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_sangkien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idSangKien] [int] NULL,
	[danhSachCaNhanTapThe] [nvarchar](max) NULL,
	[tienThuong] [float] NULL,
	[daXoa] [int] NULL,
	[loaiSangKien] [int] NULL,
	[ngaySangKien] [date] NULL,
	[bophan] [int] NULL,
	[soQuyetDinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_qltdkt_sangkien_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_thidua]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qltdkt_thidua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quyetDinh] [varchar](300) NULL,
	[phatDongId] [int] NOT NULL,
	[kieuThiDua] [int] NOT NULL,
	[chiTietKieu] [nvarchar](150) NULL,
	[idDmThiDua] [int] NULL,
	[soHieu] [nvarchar](50) NULL,
	[ngayPhatDong] [datetime] NULL,
	[ngayKetThuc] [datetime] NULL,
	[thoiGianThucHien] [int] NULL,
	[noiDungPhatDong] [nvarchar](500) NULL,
	[chiTieuThiDua] [nvarchar](150) NULL,
	[hinhThucKhenThuong] [nvarchar](150) NULL,
	[doiTuongThamGia] [tinyint] NULL,
	[nguoiKy] [nvarchar](100) NULL,
	[vanBanLuu] [varchar](350) NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[trangThai] [tinyint] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_ThiDua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[qltdkt_user]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[nhanVienId] [int] NULL,
	[ngayTao] [datetime] NULL,
	[ngayCapNhat] [datetime] NULL,
	[daXoa] [bit] NULL,
 CONSTRAINT [PK_tdkt_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qltdkt_userbygroup]    Script Date: 12/12/2023 09:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qltdkt_userbygroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[groupUserId] [int] NOT NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_tdkt_User2Group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[qltdkt_dangkythidua] ON 

INSERT [dbo].[qltdkt_dangkythidua] ([id], [thiDuaId], [donViDangKyId], [noiDungDangKy], [daBaoCao], [caNhanDangKy_KetQua], [ngayDangKy], [fileDinhKem], [soHieu], [ngayKetQua], [ngayTao], [trangThaiThiDua], [xepHangThiDua], [ngayCapNhat], [nhanXetChung], [nguoiKyDanhGia], [noiDungDanhGia], [fileBaoCao], [daXoa], [isCaNhanDangKy]) VALUES (1, 50, 47, N'', NULL, N'', CAST(N'2023-12-08 00:00:00.000' AS DateTime), N'', NULL, NULL, CAST(N'2023-12-08 10:52:04.157' AS DateTime), 0, 0, NULL, N'', N'', N'', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[qltdkt_dangkythidua] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_danhhieu] ON 

SET IDENTITY_INSERT [dbo].[qltdkt_danhhieu] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_capkykhenthuong] ON 

INSERT [dbo].[qltdkt_dm_capkykhenthuong] ([id], [tenCapKyKhenThuong], [moTa], [ngayTao], [daXoa]) VALUES (1, N'Tập đoàn', N'TD', CAST(N'2021-08-06 14:45:53.600' AS DateTime), 0)
INSERT [dbo].[qltdkt_dm_capkykhenthuong] ([id], [tenCapKyKhenThuong], [moTa], [ngayTao], [daXoa]) VALUES (3, N'Ủy ban nhân dân tỉnh', N'UBND', CAST(N'2021-08-06 14:45:53.620' AS DateTime), 0)
INSERT [dbo].[qltdkt_dm_capkykhenthuong] ([id], [tenCapKyKhenThuong], [moTa], [ngayTao], [daXoa]) VALUES (4, N'Chính phủ', N'CP', CAST(N'2021-08-06 14:45:53.623' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_capkykhenthuong] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_chucvu] ON 

INSERT [dbo].[qltdkt_dm_chucvu] ([id], [tenChucVu], [moTa], [ngayTao], [ngayCapNhat]) VALUES (3, N'Giám đốc VNPT', NULL, NULL, CAST(N'2021-11-23 10:19:46.010' AS DateTime))
INSERT [dbo].[qltdkt_dm_chucvu] ([id], [tenChucVu], [moTa], [ngayTao], [ngayCapNhat]) VALUES (4, N'Phó Giám đốc VNPT', NULL, NULL, NULL)
INSERT [dbo].[qltdkt_dm_chucvu] ([id], [tenChucVu], [moTa], [ngayTao], [ngayCapNhat]) VALUES (5, N'Trưởng phòng Nhân sự tổng hợp', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_chucvu] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_chuky] ON 

INSERT [dbo].[qltdkt_dm_chuky] ([id], [tenChuKy], [ngayTao], [daXoa]) VALUES (5, N'Chù kỳ khác', CAST(N'2021-09-27 16:36:52.057' AS DateTime), 0)
INSERT [dbo].[qltdkt_dm_chuky] ([id], [tenChuKy], [ngayTao], [daXoa]) VALUES (6, N'1 năm', CAST(N'2021-09-27 16:37:19.603' AS DateTime), 0)
INSERT [dbo].[qltdkt_dm_chuky] ([id], [tenChuKy], [ngayTao], [daXoa]) VALUES (7, N'2 năm', CAST(N'2021-09-27 16:40:28.470' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_chuky] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_danhhieuthidua] ON 

INSERT [dbo].[qltdkt_dm_danhhieuthidua] ([id], [loaiDanhHieu], [tenDanhHieuThiDua], [luuSoKyYeu], [moTa], [ngayTao], [daXoa], [idThanhTich], [chuKy], [capThanhTich], [chuKyDH], [capKyThanhTich], [bophan]) VALUES (13, 1, N'Chiến sĩ thi đua toàn quốc', 1, NULL, CAST(N'2021-08-06 09:06:20.477' AS DateTime), 0, 9, 10, 10, N'Chu kỳ test 3', N'Tập đoàn', 1)
INSERT [dbo].[qltdkt_dm_danhhieuthidua] ([id], [loaiDanhHieu], [tenDanhHieuThiDua], [luuSoKyYeu], [moTa], [ngayTao], [daXoa], [idThanhTich], [chuKy], [capThanhTich], [chuKyDH], [capKyThanhTich], [bophan]) VALUES (14, 1, N'Lao động tiên tiến', 1, NULL, CAST(N'2021-08-06 15:36:17.350' AS DateTime), 0, 1, 6, 11, N'Chu kỳ test', N'Tập đoàn', 1)
INSERT [dbo].[qltdkt_dm_danhhieuthidua] ([id], [loaiDanhHieu], [tenDanhHieuThiDua], [luuSoKyYeu], [moTa], [ngayTao], [daXoa], [idThanhTich], [chuKy], [capThanhTich], [chuKyDH], [capKyThanhTich], [bophan]) VALUES (15, 1, N'Chiến sĩ thi đua cơ sở', 1, NULL, CAST(N'2021-08-06 15:36:27.227' AS DateTime), 0, 2, 6, 11, N'Chu kỳ test', N'Tập đoàn', 1)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_danhhieuthidua] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_donvi] ON 

INSERT [dbo].[qltdkt_dm_donvi] ([id], [tenDonVi], [idCha], [ngayTao], [ngayCapNhat], [anh]) VALUES (1, N'Viễn Thông Quảng Bình', 122, NULL, NULL, NULL)
INSERT [dbo].[qltdkt_dm_donvi] ([id], [tenDonVi], [idCha], [ngayTao], [ngayCapNhat], [anh]) VALUES (43, N'Ban Giám đốc', 1, NULL, NULL, N'[{"Key":"D:\\KHÓA LU?N T?T NGHI?P_tám\\QLTDKT_TAM\\QLTDKT\\Uploads\\2023\\avatartapthe.jpg","Value":"image/jpeg"}]')
INSERT [dbo].[qltdkt_dm_donvi] ([id], [tenDonVi], [idCha], [ngayTao], [ngayCapNhat], [anh]) VALUES (44, N'Phòng Nhân Sự - Tổng Hợp', 1, NULL, NULL, N'[{"Key":"D:\\KHÓA LU?N T?T NGHI?P_tám\\QLTDKT_TAM\\QLTDKT\\Uploads\\2023\\avatartapthe.jpg","Value":"image/jpeg"}]')
SET IDENTITY_INSERT [dbo].[qltdkt_dm_donvi] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_donviphatdong] ON 

INSERT [dbo].[qltdkt_dm_donviphatdong] ([id], [tenPhatDong], [moTa], [isCamKet]) VALUES (1, N'Tập đoàn Bưu chính Viễn thông Việt Nam', NULL, 0)
INSERT [dbo].[qltdkt_dm_donviphatdong] ([id], [tenPhatDong], [moTa], [isCamKet]) VALUES (2, N'UBND Tỉnh', NULL, NULL)
INSERT [dbo].[qltdkt_dm_donviphatdong] ([id], [tenPhatDong], [moTa], [isCamKet]) VALUES (3, N'Viễn Thông Quảng Bình', NULL, NULL)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_donviphatdong] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_hinhthuckhenthuong] ON 

INSERT [dbo].[qltdkt_dm_hinhthuckhenthuong] ([id], [tenHinhThucKhenThuong], [moTa], [ngayTao], [daXoa], [loaiKhenThuong], [chuKy], [maThanhTich], [capThanhTich], [chuKyKT], [capKyThanhTich], [bophan]) VALUES (10, N'Huân chương', NULL, CAST(N'2021-08-06 15:41:56.747' AS DateTime), 0, 1, 5, N'1         ', 1, N'', NULL, 1)
INSERT [dbo].[qltdkt_dm_hinhthuckhenthuong] ([id], [tenHinhThucKhenThuong], [moTa], [ngayTao], [daXoa], [loaiKhenThuong], [chuKy], [maThanhTich], [capThanhTich], [chuKyKT], [capKyThanhTich], [bophan]) VALUES (11, N' Huy chương', NULL, CAST(N'2021-08-06 15:42:07.433' AS DateTime), 0, 1, 7, N'9         ', 1, N'', NULL, 1)
INSERT [dbo].[qltdkt_dm_hinhthuckhenthuong] ([id], [tenHinhThucKhenThuong], [moTa], [ngayTao], [daXoa], [loaiKhenThuong], [chuKy], [maThanhTich], [capThanhTich], [chuKyKT], [capKyThanhTich], [bophan]) VALUES (12, N'Danh hiệu Vinh dự Nhà nước', NULL, CAST(N'2021-08-06 15:42:35.160' AS DateTime), 0, 1, 6, N'2         ', 1, N'', NULL, 1)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_hinhthuckhenthuong] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_nhanvien] ON 

INSERT [dbo].[qltdkt_dm_nhanvien] ([id], [maNhanVien], [hoTen], [email], [chucVuId], [donViId], [soDienThoai], [ngayTao], [ngayCapNhat], [daXoa], [ngaySinh], [gioiTinh], [anhDaiDien], [trangThai], [trinhDoHocVan]) VALUES (1, N'cntt_01', N'admin', N'admin', 1, 1, N'0888571627', NULL, NULL, 0, NULL, NULL, NULL, 0, N'')
INSERT [dbo].[qltdkt_dm_nhanvien] ([id], [maNhanVien], [hoTen], [email], [chucVuId], [donViId], [soDienThoai], [ngayTao], [ngayCapNhat], [daXoa], [ngaySinh], [gioiTinh], [anhDaiDien], [trangThai], [trinhDoHocVan]) VALUES (2, N'QBH001001', N'Trương Công Minh', N'minhtc.qbh@vnpt.vn', 3, 43, N'0913295005', NULL, CAST(N'2023-11-22 10:01:09.103' AS DateTime), 0, CAST(N'1962-08-27' AS Date), 0, N'', 1, N'')
INSERT [dbo].[qltdkt_dm_nhanvien] ([id], [maNhanVien], [hoTen], [email], [chucVuId], [donViId], [soDienThoai], [ngayTao], [ngayCapNhat], [daXoa], [ngaySinh], [gioiTinh], [anhDaiDien], [trangThai], [trinhDoHocVan]) VALUES (3, N'QBH001033', N'Nguyễn Mậu Thăng', N'thangnm.qbh@vnpt.vn', 4, 43, N'0945288555', NULL, CAST(N'2023-11-22 10:02:52.240' AS DateTime), 0, CAST(N'1978-11-20' AS Date), 0, N'', 1, N'')
GO
SET IDENTITY_INSERT [dbo].[qltdkt_dm_nhanvien] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_role] ON 

INSERT [dbo].[qltdkt_dm_role] ([id], [roleName], [roleUrl], [roleParent], [priority], [controller], [action], [class], [styles]) VALUES (2, N'Hệ thống', NULL, 0, 0, NULL, NULL, N'liHeThong', N'fa fa-cog')
INSERT [dbo].[qltdkt_dm_role] ([id], [roleName], [roleUrl], [roleParent], [priority], [controller], [action], [class], [styles]) VALUES (3, N'Quản lý nhóm người dùng', NULL, 2, 2, N'Role', N'Index', N'liQuyenHan', N'fa fa-users')
INSERT [dbo].[qltdkt_dm_role] ([id], [roleName], [roleUrl], [roleParent], [priority], [controller], [action], [class], [styles]) VALUES (4, N'Quản lý người dùng', NULL, 2, 1, N'User', N'Index', N'liUser', N'fa fa-user')
SET IDENTITY_INSERT [dbo].[qltdkt_dm_role] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_sangkien] ON 

INSERT [dbo].[qltdkt_dm_sangkien] ([id], [tenSangKien], [noiDungSangKien], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (1, N'Xây dựng kế hoạch, lên phương án triển khai giải pháp 1022 trên phạm vi toàn tỉnh Quảng Bình', N'- Mang lại triển vọng cho dự án nâng cấp hệ thống 1022 cho năm tiếp theo. <br />
- Khẳng định vai trò VNPT khi tham gia công tác CĐS trong Chính quyền.', CAST(N'2023-12-07' AS Date), CAST(N'2023-12-07' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_sangkien] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_thidua] ON 

INSERT [dbo].[qltdkt_dm_thidua] ([id], [tenThiDua], [moTa], [ngayTao], [kieuThiDua]) VALUES (1, N'Nụ cười VNPT', N'Nụ cười Vnpt', CAST(N'2021-07-22 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[qltdkt_dm_thidua] ([id], [tenThiDua], [moTa], [ngayTao], [kieuThiDua]) VALUES (19, N'Thi đua cuối năm ', N'Chuyên đề hằng năm', CAST(N'2021-11-17 15:02:25.567' AS DateTime), 0)
INSERT [dbo].[qltdkt_dm_thidua] ([id], [tenThiDua], [moTa], [ngayTao], [kieuThiDua]) VALUES (20, N'Phát động Thi đua chuyên đề hàng năm', N'Hành động tháng 3', CAST(N'2021-11-24 15:09:45.933' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[qltdkt_dm_thidua] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_dm_trinhdohocvan] ON 

INSERT [dbo].[qltdkt_dm_trinhdohocvan] ([id], [tenTrinhDoHocVan], [chuyenNganh]) VALUES (1, N'Đại học', N'Công nghệ thông tin')
INSERT [dbo].[qltdkt_dm_trinhdohocvan] ([id], [tenTrinhDoHocVan], [chuyenNganh]) VALUES (2, N'Đại học', N'Điện tử viễn thông')
INSERT [dbo].[qltdkt_dm_trinhdohocvan] ([id], [tenTrinhDoHocVan], [chuyenNganh]) VALUES (3, N'Đại học', N'Kế toán')
SET IDENTITY_INSERT [dbo].[qltdkt_dm_trinhdohocvan] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_groupuser] ON 

INSERT [dbo].[qltdkt_groupuser] ([id], [tenNhom], [moTa], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (1, N'Administrator', N'Quản trị hệ thống', NULL, CAST(N'2021-10-20 09:56:31.740' AS DateTime), N'0         ')
INSERT [dbo].[qltdkt_groupuser] ([id], [tenNhom], [moTa], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (51, N'NhanVien', NULL, CAST(N'2021-08-04 14:33:52.397' AS DateTime), CAST(N'2021-08-05 15:54:54.470' AS DateTime), N'0         ')
SET IDENTITY_INSERT [dbo].[qltdkt_groupuser] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_groupuserbyroles] ON 

INSERT [dbo].[qltdkt_groupuserbyroles] ([id], [groupUserId], [roleId]) VALUES (1162, 51, 9)
INSERT [dbo].[qltdkt_groupuserbyroles] ([id], [groupUserId], [roleId]) VALUES (1163, 51, 10)
INSERT [dbo].[qltdkt_groupuserbyroles] ([id], [groupUserId], [roleId]) VALUES (1164, 51, 6)
SET IDENTITY_INSERT [dbo].[qltdkt_groupuserbyroles] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_hosokyyeu] ON 

GO
SET IDENTITY_INSERT [dbo].[qltdkt_hosokyyeu] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_sangkien] ON 

SET IDENTITY_INSERT [dbo].[qltdkt_sangkien] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_thidua] ON 

SET IDENTITY_INSERT [dbo].[qltdkt_thidua] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_user] ON 

INSERT [dbo].[qltdkt_user] ([id], [tenDangNhap], [matKhau], [nhanVienId], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (1, N'sonnn.qbh', N'123456', 237, NULL, CAST(N'2021-10-19 14:41:41.617' AS DateTime), 0)
INSERT [dbo].[qltdkt_user] ([id], [tenDangNhap], [matKhau], [nhanVienId], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (2, N'dentoiladay', N'1', 240, NULL, CAST(N'2021-08-04 22:09:25.823' AS DateTime), 0)
INSERT [dbo].[qltdkt_user] ([id], [tenDangNhap], [matKhau], [nhanVienId], [ngayTao], [ngayCapNhat], [daXoa]) VALUES (6, N'test123', N'123', NULL, CAST(N'2021-08-04 14:19:16.000' AS DateTime), CAST(N'2021-08-04 14:31:54.447' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[qltdkt_user] OFF
SET IDENTITY_INSERT [dbo].[qltdkt_userbygroup] ON 

INSERT [dbo].[qltdkt_userbygroup] ([id], [userId], [groupUserId], [moTa]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[qltdkt_userbygroup] ([id], [userId], [groupUserId], [moTa]) VALUES (2, 2, 1, NULL)
INSERT [dbo].[qltdkt_userbygroup] ([id], [userId], [groupUserId], [moTa]) VALUES (6, 7, 1, NULL)
SET IDENTITY_INSERT [dbo].[qltdkt_userbygroup] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Tập đoàn, 2-Viễn thông tỉnh Quảng Bình, 3-Trung tâm trực thuộc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qltdkt_sangkien', @level2type=N'COLUMN',@level2name=N'loaiSangKien'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Chuyên môn, 2-Công đoàn, 3-Đoàn thể' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qltdkt_sangkien', @level2type=N'COLUMN',@level2name=N'bophan'
GO
USE [master]
GO
