
@{
    ViewBag.Title = "BaoCaoThiDua";
}
<style>


    a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
    }
</style>
<br />
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Nghiệp vụ</a></li>
        <li class="breadcrumb-item active">Thi đua</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title mb-4">Danh sách báo cáo thi đua</h4>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-1 col-form-label" for="cbxThiDuaSearch">Thi đua:</label>
                                    <div class="col-md-11">
                                        <select id="cbxThiDuaSearch" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-12">
                            <button class="btn btn-primary waves-effect waves-light" id="btnTimKiem"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-success" id="btnThemMoi" type="button"><i class="fa fa-save"></i> Thêm mới báo cáo thi đua</button>

                            <a class="btn btn-info" href="@Url.Action("Index", "ThiDua")"><i class="fa fa-arrow-left"></i> Quay lại</a>
                        </div>
                    </div>
                    <br />
                    <table id="table_baocaothidua" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; ">
                        <thead>
                            <tr>
                                <th class="text-nowrap" width="1%">STT</th>
                                <th class="text-nowrap">Tên thi đua</th>
                                <th class="text-nowrap">Số hiệu</th>
                                <th class="text-nowrap">Tên báo cáo</th>
                                <th class="text-nowrap">File báo cáo</th>
                                <th class="text-nowrap" width="20%">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="mdlBaoCaoThiDua" tabindex="0" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Báo cáo thi đua</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" id="frmBaoCaoThiDua">
                    <input type="hidden" id="idThiDua" />
                    <input type="hidden" id="idBaoCaoThiDua" />
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="cbxThiDua">(*)Chọn thi đua để báo cáo: </label>

                                <select id="cbxThiDua" name="cbxThiDua" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label></label>
                            </div>
                            <div id="lblError" style="color: red;"></div>
                        </div>
                    </div>
                    <div class="row" id="pnlChiTiet" style="display: none;">
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label for="txtTenThiDua">Tên thi đua: </label>

                                <input type="text" class="form-control" disabled id="txtTenThiDua" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label for="txtSoHieu">Số hiệu: </label>

                                <input type="text" class="form-control" disabled id="txtSoHieu" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label for="txtNgayPhatDong">Ngày phát động: </label>

                                <input type="text" class="form-control" disabled id="txtNgayPhatDong" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">Danh sách tập thể, cá nhân đã đăng ký</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="header-title mb-4"><input type="checkbox" id="checkallTapThe" /> TẬP THỂ</h3>
                                            <table class="table">
                                                <tbody id="tblTapThe">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <h3 class="header-title mb-4"><input type="checkbox" id="checkallCaNhan" /> CÁ NHÂN</h3>
                                            <table class="table">
                                                <tbody id="tblCaNhan">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtTenBaoCao">(*)Tên báo cáo: </label>

                                <input type="text" class="form-control" id="txtTenBaoCao" name="txtTenBaoCao" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="taNoiDungBaoCao">Nội dung báo cáo: </label>
                                <textarea id="taNoiDungBaoCao" rows="30"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>File đính kèm: </label>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-append">
                                        <span class="btn btn-outline btn-primary btn-file">
                                            <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;Chọn file đính kèm</span>
                                            <span class="fileinput-exists"><i class="fa fa-plus"></i>&nbsp;Thay đổi</span><input type="file" id="fileDinhKem" name="fileDinhKem" />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                    </div>
                                </div>
                                <span id="linkFileDinhKem"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnLuuBaoCao"><i class="fa fa-sync"></i> Cập nhật</button>
                <button type="button" class="btn btn-danger" id="btnClose"><i class="fa fa-window-close"></i> Đóng lại</button>
            </div>
        </div>
    </div>
</div>


<script>
    var dsTT = '', dsCN = '', dsTTDaBC = '', dsCNDaBC = '', dsTTCrBC = '', dsCNCrBC = '';
    $(document).ready(function () {
        activeMenu("liNghiepVu", "liThiDua");
        $.noConflict();
        validator();

        @*loadDonViPhatDongSearch();
        CKEDITOR.replace("taNoiDungDangKy", { height: 100 });
        CKEDITOR.replace("taNhanXetChung", { height: 100});
        CKEDITOR.replace("taNguoiKyDanhGia", { height: 100 });
        CKEDITOR.replace("taNoiDungDanhGia", { height: 100 });*@
        CKEDITOR.replace("taNoiDungBaoCao", { height: 100 });
        loadDanhSachThiDuaSearch();
        loadDanhSachThiDua();
        loadDanhSachBaoCaoThiDua();

    });

    //Xử lý nút check all
    $("#checkallTapThe").change(function () {
        $(".checkitemTT").prop("checked", $(this).prop("checked"))
    })

    $("#checkallCaNhan").change(function () {
        $(".checkitemCN").prop("checked", $(this).prop("checked"))
    })

    function loadDanhSachThiDua(idThiDua) {
        $.get("/BaoCaoThiDua/getDSThiDua", function (data) {
            var html = '';
            html = '<option value = "">--Chọn thi đua--</option>';
            $.each(data, function (key, item) {
                if (item.id == idThiDua)
                    html += '<option value = ' + item.id + ' selected>' + item.tenHienThi + '</option>';
                else
                    html += '<option value = ' + item.id + '>' + item.tenHienThi + '</option>';
            });
            $('#cbxThiDua').html(html);
        })
    }

    function loadDanhSachThiDuaSearch() {
        $.get("/BaoCaoThiDua/getDSThiDua", function (data) {
            var html = '';
            html = '<option value = "">--Chọn thi đua--</option>';
            $.each(data, function (key, item) {
                html += '<option value = ' + item.id + '>' + item.tenHienThi + '</option>';
            });
            $('#cbxThiDuaSearch').html(html);
        })
    }

    $("#btnClose").click(function () {
        closeModal();
    })

    $("#btnThemMoi").click(function () {
        $("#mdlBaoCaoThiDua").modal('show');
        document.getElementById("cbxThiDua").disabled = false;

        resetFormBaoCao();
    })

    function resetFormBaoCao() {
        $("#idBaoCaoThiDua").val("0");
        $("#cbxThiDua").val("");
        $("#txtTenBaoCao").val("");
        CKEDITOR.instances['taNoiDungBaoCao'].setData("");
        $("#linkFileDinhKem").html("");
        dsTT = '';
        dsCN = '';
        dsCNCrBC = '';
        dsTTCrBC = '';
        dsCNDaBC = '';
        dsTTDaBC = '';
        getThongTinThiDua();
    }

    function closeModal() {
        $('#frmBaoCaoThiDua').bootstrapValidator('resetForm', true);
        $("#mdlBaoCaoThiDua").modal('hide');
    }

    //Validate form nhập
    function validator() {
        //debugger;
        $('#frmBaoCaoThiDua').bootstrapValidator({
            container: 'tooltip',
            message: 'Giá trị không hợp lệ',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cbxThiDua: {
                    validators: {
                        notEmpty: {
                            message: 'Chọn thi đua để báo cáo!'
                        }
                    }
                },
                txtTenBaoCao: {
                    validators: {
                        notEmpty: {
                            message: 'Nhập tên báo cáo!'
                        }
                    }
                },
                fileDinhKem: {
                    validators: {

                        file: {
                            maxSize: 52428800,
                            message: 'Nhập file văn bản không vượt quá 50MB!'
                        }
                    }
                }
            }
        });
        var validatorObj = $('#frmBaoCaoThiDua').data('bootstrapValidator');
        validatorObj.validate();
        if (validatorObj.isValid()) {
            return true;
        }
        return false;
    }

    $("#cbxThiDua").change(function () {
        console.log($("#cbxThiDua").val());
        getThongTinThiDua();
    })

    function getThongTinThiDua() {
        if ($("#cbxThiDua").val() != "") {
            $.get("/BaoCaoThiDua/getThongTinThiDua", { idThiDua: $("#cbxThiDua").val() }, function (data) {
                console.log(data);
                if (data.data.isDangKy) {
                    $("#pnlChiTiet").css("display", "");
                    $("#lblError").html("");
                    $("#txtTenThiDua").val(data.data.tenThiDua);
                    $("#txtSoHieu").val(data.data.soHieu);
                    $("#txtNgayPhatDong").val(data.data.ngayPhatDong.split(" ")[0]);
                    var dsDangKy = data.data.dsDangKy;
                    var htmlTapThe = '', htmlCaNhan = '';
                    var lsTT_spl = '', lsCN_spl = '';
                    if (dsTTCrBC.length > 0) {
                        lsTT_spl = dsTTCrBC.split(";");
                    }
                    if (dsCNCrBC.length > 0) {
                        lsCN_spl = dsCNCrBC.split(";");
                    }
                    $.each(dsDangKy, function (key, item) {
                        if (!item.daBaoCao) {
                            htmlTapThe += "<tr><td><input type='checkbox' class='checkitemTT' value='" + item.idDonViDangKy + "' /></td><td>" + item.tenDonViDangKy + "</td></tr>";
                        }
                        else {
                            dsTTDaBC += item.idDonViDangKy + ";";
                            var isCheck = false;
                            if (lsTT_spl != "") {
                                for (var i = 0; i < lsTT_spl.length; i++) {
                                    if (lsTT_spl[i] == item.idDonViDangKy) {
                                        isCheck = true;
                                        break;
                                    }
                                }
                            }
                            if (isCheck) {
                                htmlTapThe += "<tr><td><input type='checkbox' class='checkitemTT' value='" + item.idDonViDangKy + "' checked disabled /></td><td style='color: red;'>" + item.tenDonViDangKy + "</td></tr>";
                            }
                            else {
                                htmlTapThe += "<tr><td><input type='checkbox' class='checkitemTT' value='" + item.idDonViDangKy + "' checked disabled /></td><td>" + item.tenDonViDangKy + "</td></tr>";
                            }
                        }
                        var dsCaNhan = item.listCaNhanDangKy;
                        if (dsCaNhan.length > 0) {
                            $.each(dsCaNhan, function (key, item1) {
                                if (!item1.daBaoCao) {
                                    htmlCaNhan += "<tr><td><input type='checkbox' class='checkitemCN' value='" + item1.idNhanVien + "' /></td><td>" + item1.tenNhanVien + "</td><td>" + item.tenDonViDangKy + "</td></tr>";
                                }
                                else {
                                    dsCNDaBC += item1.idNhanVien + ";";
                                    var isCheckCN = false;
                                    if (lsCN_spl != "") {
                                        for (var i = 0; i < lsCN_spl.length; i++) {
                                            if (lsCN_spl[i] == item1.idNhanVien) {
                                                isCheckCN = true;
                                                break;
                                            }
                                        }
                                    }
                                    if (isCheckCN) {
                                        htmlCaNhan += "<tr><td><input type='checkbox' class='checkitemCN' value='" + item1.idNhanVien + "' checked disabled /></td><td style='color: red;'>" + item1.tenNhanVien + "</td><td style='color: red;'>" + item.tenDonViDangKy + "</td></tr>";
                                    }
                                    else {
                                        htmlCaNhan += "<tr><td><input type='checkbox' class='checkitemCN' value='" + item1.idNhanVien + "' checked disabled /></td><td>" + item1.tenNhanVien + "</td><td>" + item.tenDonViDangKy + "</td></tr>";
                                    }
                                }
                            });
                        }
                    })
                    $("#tblTapThe").html(htmlTapThe);
                    $("#tblCaNhan").html(htmlCaNhan);
                }
                else {
                    $("#pnlChiTiet").css("display", "none");
                    $("#lblError").html("Chưa đăng ký tập thể cá nhân cho thi đua này. Nhấn vào <a href='/ThiDua/DangKyThiDua/" + $("#cbxThiDua").val() + "'>ĐÂY</a> để đăng ký thi đua!");
                }
            })
        }
        else {
            $("#pnlChiTiet").css("display", "none");
            $("#lblError").html("");
        }
    }
   @* $(document).keypress(function (e) {
        if (e.which == 13 || event.keyCode == 13) {
            $("#btnLuuBaoCao").click();
        }
    });*@
    $("#btnLuuBaoCao").click(function () {
        dsTT = $('.checkitemTT:checked').map(function () {
            return $(this).val()
        }).get().join(';')

        dsCN = $('.checkitemCN:checked').map(function () {
            return $(this).val()
        }).get().join(';')
        var CNsend = '', TTsend = '';
        @*console.log("TT đang chọn:" + dsTT);
        console.log("CN đang chọn:" + dsCN);

        console.log("TT đã báo cáo:" + dsTTDaBC);
        console.log("CN đã báo cáo:" + dsCNDaBC);


        console.log("TT của báo cáo gửi" + dsTTCrBC);
        console.log("CN của báo cáo gửi: " + dsCNCrBC);
*@
        if (dsCN != '') {
            var dsCN_spl = dsCN.split(";");
            if (dsCNDaBC != '') {
                var dsCNDaBC_spl = dsCNDaBC.split(";");
                for (var i = 0; i < dsCNDaBC_spl.length; i++) {
                    //debugger;
                    var index = dsCN_spl.indexOf(dsCNDaBC_spl[i]);
                    if (index > -1) {
                        dsCN_spl.splice(index, 1);
                    }
                }
            }
            if (dsCNCrBC != '') {
                CNsend = dsCNCrBC.concat(";", dsCN_spl.join(";"));
            }
            else {
                CNsend = dsCNCrBC.concat(dsCN_spl.join(";"));
            }
        }
        if (dsTT != '') {
            var dsTT_spl = dsTT.split(";");
            if (dsTTDaBC != '') {
                var dsTTDaBC_spl = dsTTDaBC.split(";");
                for (var i = 0; i < dsTTDaBC_spl.length; i++) {
                    //debugger;
                    var index = dsTT_spl.indexOf(dsTTDaBC_spl[i]);
                    if (index > -1) {
                        dsTT_spl.splice(index, 1);
                    }
                }
            }
            if (dsTTCrBC != '') {
                TTsend = dsTTCrBC.concat(";", dsTT_spl.join(";"));
            }
            else {
                TTsend = dsTTCrBC.concat(dsTT_spl.join(";"));
            }
        }

        if ($("#idBaoCaoThiDua").val() != 0) {
            var fileUpload = $("#fileDinhKem").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append('idThiDua', $("#cbxThiDua").val());
            fileData.append('idBaoCaoThiDua', $("#idBaoCaoThiDua").val());
            fileData.append('noiDungBaoCao', CKEDITOR.instances['taNoiDungBaoCao'].getData());
            fileData.append('tenBaoCao', $("#txtTenBaoCao").val());
            fileData.append('lsIdTT', TTsend);
            fileData.append('lsIdCN', CNsend);
            $.ajax({
                url: "/BaoCaoThiDua/CapNhatBaoCaoThiDua",
                data: fileData,
                type: "POST",
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                beforeSend: function () {
                    $("#overlay").fadeIn(300);
                },
                success: function (data) {
                    //showToast("success", data, "Thông báo");
                    if (data == 0) {
                        showToast("success", "Thêm mới báo cáo thi đua thành công!", "Thông báo")
                        closeModal();
                        loadDanhSachBaoCaoThiDua();
                    }
                    else if (data == -1) {
                        showToast("error", "Lỗi khi upload file đính kèm!", "Thông báo lỗi")
                    }
                    else if (data == 2) {
                        showToast("success", "Cập nhật báo cáo thi đua thành công!", "Thông báo")
                        closeModal();
                        loadDanhSachBaoCaoThiDua();
                    }
                },
                complete: function () {
                    $("#overlay").fadeOut(300);
                },
                error: function (errormessage) {
                    showToast("error", "Có lỗi khi cập nhật dữ liệu", "Thông báo lỗi");
                }
            });
        }
        else {
            console.log(isValid);
            console.log(TTsend);
            console.log(CNsend);
            if ("#idBaoCaoThiDua" != 0) {
                var fileUpload = $("#fileDinhKem").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                fileData.append('idThiDua', $("#cbxThiDua").val());
                fileData.append('idBaoCaoThiDua', $("#idBaoCaoThiDua").val());
                fileData.append('noiDungBaoCao', CKEDITOR.instances['taNoiDungBaoCao'].getData());
                fileData.append('tenBaoCao', $("#txtTenBaoCao").val());
                fileData.append('lsIdTT', TTsend);
                fileData.append('lsIdCN', CNsend);
                $.ajax({
                    url: "/BaoCaoThiDua/CapNhatBaoCaoThiDua",
                    data: fileData,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    enctype: 'multipart/form-data',
                    beforeSend: function () {
                        $("#overlay").fadeIn(300);
                    },
                    success: function (data) {
                        //showToast("success", data, "Thông báo");
                        if (data == 0) {
                            showToast("success", "Thêm mới báo cáo thi đua thành công!", "Thông báo")
                            closeModal();
                            loadDanhSachBaoCaoThiDua();
                        }
                        else if (data == -1) {
                            showToast("error", "Lỗi khi upload file đính kèm!", "Thông báo lỗi")
                        }
                        else if (data == 2) {
                            showToast("success", "Cập nhật báo cáo thi đua thành công!", "Thông báo")
                            closeModal();
                            loadDanhSachBaoCaoThiDua();
                        }
                    },
                    complete: function () {
                        $("#overlay").fadeOut(300);
                    },
                    error: function (errormessage) {
                        showToast("error", "Có lỗi khi cập nhật dữ liệu", "Thông báo lỗi");
                    }
                });
            }
            else {
                var isValid = validator();

                if (isValid) {
                    var fileUpload = $("#fileDinhKem").get(0);
                    var files = fileUpload.files;
                    var fileData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    fileData.append('idThiDua', $("#cbxThiDua").val());
                    fileData.append('idBaoCaoThiDua', $("#idBaoCaoThiDua").val());
                    fileData.append('noiDungBaoCao', CKEDITOR.instances['taNoiDungBaoCao'].getData());
                    fileData.append('tenBaoCao', $("#txtTenBaoCao").val());
                    fileData.append('lsIdTT', TTsend);
                    fileData.append('lsIdCN', CNsend);
                    $.ajax({
                        url: "/BaoCaoThiDua/CapNhatBaoCaoThiDua",
                        data: fileData,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        enctype: 'multipart/form-data',
                        beforeSend: function () {
                            $("#overlay").fadeIn(300);
                        },
                        success: function (data) {
                            //showToast("success", data, "Thông báo");
                            if (data == 0) {
                                showToast("success", "Thêm mới báo cáo thi đua thành công!", "Thông báo")
                                closeModal();
                                loadDanhSachBaoCaoThiDua();
                            }
                            else if (data == -1) {
                                showToast("error", "Lỗi khi upload file đính kèm!", "Thông báo lỗi")
                            }
                            else if (data == 2) {
                                showToast("success", "Cập nhật báo cáo thi đua thành công!", "Thông báo")
                                closeModal();
                                loadDanhSachBaoCaoThiDua();
                            }
                        },
                        complete: function () {
                            $("#overlay").fadeOut(300);
                        },
                        error: function (errormessage) {
                            showToast("error", "Có lỗi khi cập nhật dữ liệu", "Thông báo lỗi");
                        }
                    });
                }
            }

        }



    });

    $("#btnTimKiem").click(function () {
        loadDanhSachBaoCaoThiDua();
    })

    function loadDanhSachBaoCaoThiDua() {
        $("#table_baocaothidua").DataTable({
            "ajax": {
                "url": "/BaoCaoThiDua/getBaoCaoThiDua",
                "data": {idThiDua: $("#cbxThiDuaSearch").val()},
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                {
                    "data": "null", "render": function (data, type, full, meta) {
                        return meta.row + 1;
                    }
                },
                { "data": "tenThiDua" },
                { "data": "soHieu" },
                { "data": "tenBaoCao" },
                {
                    "data": "fileBaoCao", "render": function (data) {
                        if (data != "") {
                            var objFile = JSON.parse(data);
                            var spl = objFile[0].Key.split(/\\/);
                            return "<a href='#' onclick='downloadfile(\"" + spl + "\", \"" + spl[spl.length - 1] + "\", \"" + objFile[0].Value + "\")'><i class='fa fa-download'></i>" + spl[spl.length - 1] + "</a>";
                        }
                        else {
                            return "<a href='#' >Chưa có file</a>";
                        }
                    }
                },
                {
                    "data": "idBaoCaoThiDua", "render": function (data, type, row, meta) {
                        console.log("ad", row);
                        $('[data-toggle="tooltip"]').tooltip();
                        if (row["trangThaiTD"] == 2) {
                            return "<a class='fa fa-lg fa-edit colorEdit' href='#' data-toggle='tooltip' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;<a class='fa fa-lg fa-trash' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'></a>";

                        }
                        else {
                            return "<a class='fa fa-lg fa-edit colorEdit disabled'  href='#' data-toggle='tooltip' data-placement='top' title='Cập nhật' onclick='return GetById(" + data + ")'></a>&nbsp;<a class='fa fa-lg fa-trash colorEdit disabled' href='#' data-toggle='tooltip' title='Xóa' onclick='DeleteById(" + data + ")'></a>";
                        }
                    }
                }
            ],
            destroy: true,
            ordering: false,
            paging: false,
            searching: true,
            bInfo: false,
            deferRender: true
        });
    }

    function GetById (idBaoCaoThiDua) {
        console.log(idBaoCaoThiDua);
        $("#mdlBaoCaoThiDua").modal('show');
        $("#idBaoCaoThiDua").val(idBaoCaoThiDua);
        document.getElementById("cbxThiDua").disabled = true;

        $.get("/BaoCaoThiDua/GetBaoCaoThiDuaById", { idBaoCaoThiDUa: idBaoCaoThiDua }, function (data) {
            console.log(data);
            var result = data.data;
            $("#cbxThiDua").val(result.idThiDua);
            var ds = JSON.parse(result.dsCaNhanTTBaoCao);
            dsTTCrBC = ds.lsTT;
            dsCNCrBC = ds.lsCN;
            getThongTinThiDua();
            $("#txtTenBaoCao").val(result.tenBaoCao);
            CKEDITOR.instances['taNoiDungBaoCao'].setData(result.noiDungBaoCao);
            if (result.fileDinhKem != "") {
                console.log(result.fileDinhKem);
                var objFile = JSON.parse(result.fileDinhKem);
                var spl = objFile[0].Key.split(/\\/);
                $("#linkFileDinhKem").html("<a href='#' onclick='downloadfile(\"" + spl + "\", \"" + spl[spl.length - 1] + "\", \"" + objFile[0].Value + "\")'><i class='fa fa-download'></i> "+ spl[spl.length - 1] +"</a>");
            }
        })
    }

    function DeleteById(id) {
        console.log(id);
        var ans = confirm("Bạn muốn xóa báo cáo thi đua này?");
        if (ans) {
            var ans2 = confirm("Lưu ý: nếu bạn xóa báo cáo thi đua này, tất cả  hồ sơ thi đua cũng sẽ bị xóa, bạn vẫn chắc chắn?");
            if (ans2) {
                $.post("/BaoCaoThiDua/DeleteBaoCaoThiDua", { idBaoCaoThiDua: id }, function (data) {
                    if (data) {
                        showToast("success", "Xóa báo cáo thi đua thành công!", "Thông báo");
                        loadDanhSachBaoCaoThiDua();
                    }
                }).fail(function (error) {
                    showToast("error", "Có lỗi khi xóa báo cáo thi đua", "Thông báo lỗi");
                })
            }
        }
    }

    function getSelected(xepHang, stt) {
        if (xepHang == stt)
            return "selected";
    }

    function getIsDangKy(stt) {
        if (stt) {
            return "checked"
        }
        else {
            return "";
        }
    }


    function downloadfile(fullpath, file, type) {
        window.location = "@Url.RouteUrl(new { Controller = "ThiDua", Action = "DownloadFile" })/?fullpath=" + fullpath + "&file=" + file + "&type=" + type;
    }
</script>

