@{
    ViewBag.Title = "Home Page";
}

<!-- Font Awesome CSS -->
<!-- Additional CSS -->
<link rel="stylesheet" href="~/assets/css/main.css">
<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    #dashboard .card-body {
        padding: 3.25rem !important;
    }
</style>
<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="text-align:center">THỐNG KÊ HỆ THỐNG</h1>
            <a href="/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-home" title="Home"></i>
            </a>
        </div>

        <!-- Content Row -->
        <div class="row" id="dashboard" style="margin-left:0; margin-right:0">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Tổng nhân viên
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <h3 id="nhanVien"></h3>
                                </div>


                            </div>
                            <div class="col-auto">
                                <i class="fa fa-user-circle fa-2x text-gray-300"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Tổng số danh hiệu:
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <h3 id="danhHieu"></h3>

                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-suitcase fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Tổng số khen thưởng:
                                    <span style="color:blue; font-size: 1.5rem; margin-left: 5px">
                                    </span>
                                </div>
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    <h3 id="khenThuong"></h3>


                                </div>

                            </div>
                            <div class="col-auto">
                                <i class="fa fa-star fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="col-auto">

                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Tổng số thi đua:
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <h3 id="thiDua"></h3>

                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <!-- /.container-fluid -->
            <div class="row">

                <div class="col-xl-6" id="regionNam">
                    <div class="form-group">
                        <label for="cbxNam">Năm:</label>
                        <select id="cbxNam" name="cbxNam" class="form-control" onchange="loadThongKeDanhHieuTapThe()">
                            @for (int i = 0; i < 100; i++)
                            {
                                <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Thống kê danh hiệu tập thể</h2>
                        </div>
                        <div class="panel-body">
                            <canvas id="bieuDoDanhHieuTT"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Thống kê danh hiệu cá nhân</h2>
                        </div>
                        <div class="panel-body">
                            <canvas id="bieuDoDanhHieuCN"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- Animate CSS -->
<!-- Start Content-->
<!-- /.content-wrapper -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
    

    $.ajax({
        url: "Home/ThongKeNhanVien",
        type: "GET",
        datatype: "json",
        contentType: "application/json;charset=UTF-8",
        success: function (data) {
            console.log(data);
            $("#nhanVien").text(data);
        },
        error: function (errormessage) {
        }
    });
    $.ajax({
        url: "Home/ThongKeDanhHieu",
        type: "GET",
        datatype: "json",
        contentType: "application/json;charset=UTF-8",
        success: function (data) {
            console.log(data);
            $("#danhHieu").text(data);
        },
        error: function (errormessage) {
        }
    });
    $.ajax({
        url: "Home/ThongKeThiDua",
        type: "GET",
        datatype: "json",
        contentType: "application/json;charset=UTF-8",
        success: function (data) {
            console.log(data);
            $("#thiDua").text(data);
        },
        error: function (errormessage) {
        }
    });
    $.ajax({
        url: "Home/ThongKeKhenThuong",
        type: "GET",
        datatype: "json",
        contentType: "application/json;charset=UTF-8",
        success: function (data) {
            console.log(data);
            $("#khenThuong").text(data);
        },
        error: function (errormessage) {
        }
    });
    
</script>
<script>
    $(document).ready(function () {

        loadThongKeDanhHieuTapThe();
    });
    function loadThongKeDanhHieuTapThe() {
        var revenueData = 0;
        var myChart = "";
        $.get("/Home/getThongKeBaoCao", { kieuDanhHieu: 0, namDanhHieu: $("#cbxNam").val() }, function (data) {
            console.log(data.data);
            if (data.data.length > 0) {

                revenueData = data.data[0].danhHieuTapThe;



            }
            // Tạo đối tượng biểu đồ hình tròn
            var ctx = document.getElementById('bieuDoDanhHieuTT').getContext('2d');
            if (Chart.getChart("bieuDoDanhHieuTT")) {
                Chart.getChart("bieuDoDanhHieuTT").destroy();
            }
            myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Danh Hiệu Tập Thể'],
                    datasets: [
                        {
                            data: [revenueData],
                            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                            borderColor: ['rgba(255, 99, 132, 1)'],
                            borderWidth: 1
                        }
                    ]
                },
                options: {}
            });
        })
        var ChartDHCN = null;
        $.get("/Home/getThongKeBaoCao", { kieuDanhHieu: 1, namDanhHieu: $("#cbxNam").val() }, function (data) {
            console.log(data.data);
            if (data.data.length > 0) {

                revenueData = data.data[0].danhHieuCaNhan;



            }
            // Tạo đối tượng biểu đồ hình tròn
            var ctx = document.getElementById('bieuDoDanhHieuCN').getContext('2d');
            if (Chart.getChart("bieuDoDanhHieuCN")) {
                Chart.getChart("bieuDoDanhHieuCN").destroy();
            }
            ChartDHCN = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Danh Hiệu Cá Nhân'],
                    datasets: [
                        {
                            data: [revenueData],
                            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                            borderColor: ['rgba(255, 99, 132, 1)'],
                            borderWidth: 1
                        }
                    ]
                },
                options: {}
            });
        })
    }
</script>
